<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>All Stays</h2>
    <%= link_to 'New Stay', new_stay_path, class: 'btn btn-primary' %>
  </div>

  <div id='calendar' style='height: 80vh;'></div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var roomColors = {
        "large-double": "#4285F4",
        "small-double": "#FBBC05",
        "single-room": "#34A853",
        "sitting-room": "#EA4335",
        "other": "#66757F"
    };

    var currentDate = new Date();

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'listYear',
        events: '/fetch_stays',
        eventColor: 'color',
        displayEventTime: false,  // This line hides the event time
        eventClick: function(info) {
            window.location.href = '/stays/' + info.event.id;
        },
        eventContent: function(arg) {
            var color = roomColors[arg.event.extendedProps.room] || '#66757F'; // default to "other" color if not found
            arg.backgroundColor = color;
            return {
                html: arg.event.title
            };
        },
        eventDataTransform: function(eventData) {
            if (new Date(eventData.start) < currentDate) {
                eventData.start = currentDate;
            }
            return eventData;
        },
        headerToolbar: {
            left: 'prev,next',
            right: 'dayGridMonth,listYear'
        }
    });

    calendar.render();
});
</script>
