<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>My Stays</h2>
    <%= link_to 'New Stay', new_stay_path, class: 'btn btn-primary' %>
  </div>

  <div id='calendar' style='height: 80vh;'></div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var currentDate = new Date();

    var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'listYear',
        events: '/fetch_my_stays',
        eventColor: 'color',
        displayEventTime: false,  // This line hides the event time
        firstDay: 1,
        eventClick: function(info) {
            window.location.href = '/stays/' + info.event.id;
        },
        eventDataTransform: function(eventData) {
            if (new Date(eventData.start) < currentDate) {
                eventData.start = currentDate;
            }
            return eventData;
        },
        headerToolbar: {
            left: 'prev,next',
            right: 'dayGridMonth,listYear'
        }
    });

    calendar.render();
});
</script>
