<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6"> <!-- Adjust column size as needed -->

      <h2 class="text-center mb-4">Forgot your password? Find another Mayhew to change it for you</h2>

      

    </div>
  </div>
</div>
