<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4 mb-4 text-center">Helpful Info</h1>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Coming Soon</h5>
                    <p class="card-text">
                      Info for how things work at the flat like heating and hot water etc, as well as useful numbers like the management company and Joe the caretaker
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
